.App {
  height: 100vh;
  max-width: 100vw;
  font-family: SANS-SERIF;
}

.App-header {
  font-size: 1.4rem;
  color: #e0354b;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e0354b;
  font-family: SANS-SERIF;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  font-size: 1.5rem;
  padding: 2em;
  font-family: SANS-SERIF;
  border-bottom: 3px solid #e0354b;
  /* height: 100%; */
  height: 50vh;
}

form input {
  margin: 10px;
}

.App-footer {
  font-size: 1.6rem;
  padding: 1.2rem;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-family: SANS-SERIF;
}